<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jin.study.movie.mapper.AdminMapper">
  <resultMap id="BaseResultMap" type="jin.study.movie.model.Admin">
    <id column="a_id" jdbcType="INTEGER" property="aId" />
    <result column="a_user" jdbcType="VARCHAR" property="aUser" />
    <result column="a_password" jdbcType="VARCHAR" property="aPassword" />
  </resultMap>
  <sql id="Base_Column_List">
    a_id, a_user, a_password
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from admin
    where a_id = #{aId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from admin
    where a_id = #{aId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="jin.study.movie.model.Admin">
    insert into admin (a_id, a_user, a_password
      )
    values (#{aId,jdbcType=INTEGER}, #{aUser,jdbcType=VARCHAR}, #{aPassword,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="jin.study.movie.model.Admin">
    insert into admin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="aId != null">
        a_id,
      </if>
      <if test="aUser != null">
        a_user,
      </if>
      <if test="aPassword != null">
        a_password,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="aId != null">
        #{aId,jdbcType=INTEGER},
      </if>
      <if test="aUser != null">
        #{aUser,jdbcType=VARCHAR},
      </if>
      <if test="aPassword != null">
        #{aPassword,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="jin.study.movie.model.Admin">
    update admin
    <set>
      <if test="aUser != null">
        a_user = #{aUser,jdbcType=VARCHAR},
      </if>
      <if test="aPassword != null">
        a_password = #{aPassword,jdbcType=VARCHAR},
      </if>
    </set>
    where a_id = #{aId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="jin.study.movie.model.Admin">
    update admin
    set a_user = #{aUser,jdbcType=VARCHAR},
      a_password = #{aPassword,jdbcType=VARCHAR}
    where a_id = #{aId,jdbcType=INTEGER}
  </update>
</mapper>